<p id="notice"><%= notice %></p>

<p>
  <strong>Id evaluacion:</strong>
  <%= @evaluacion.id_evaluacion %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @evaluacion.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @evaluacion.hora %>
</p>

<p>
  <strong>Repetir:</strong>
  <%= @evaluacion.repetir %>
</p>

<%= link_to 'Edit', edit_evaluacion_path(@evaluacion) %> |
<%= link_to 'Back', evaluacions_path %>
