<p id="notice"><%= notice %></p>

<p>
  <strong>Pregunta a realizar:</strong>
  <%= @preguntum.pregunta_realizar %>
</p>

<p>
  <strong>Tipo de pregunta:</strong>
  <%= @preguntum.tipo_pregunta %>
</p>

<p>
  <strong>Respuesta correcta:</strong>
  <%= @preguntum.respuesta %>
</p>

<p>
  <strong>Id imagen (Sólo si es necesario) :</strong>
  <%= @preguntum.id_imagen %>
</p>

<%= link_to 'Edit', edit_preguntum_path(@preguntum) %> |
<%= link_to 'Back', pregunta_path %>
