<p id="notice"><%= notice %></p>

<p>
  <strong>Contenido:</strong>
  <%= @contenido.contenido_id %>
</p>

<p>
  <strong>Descripcion contenido:</strong>
  <%= @contenido.descripcion_contenido %>
</p>

<%= link_to 'Edit', edit_contenido_path(@contenido) %> |
<%= link_to 'Back', contenidos_path %>
