<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo evaluacion:</strong>
  <%= @tipo_evaluacion.tipo_evaluacion_id %>
</p>

<p>
  <strong>Descripcion tipo evaluacion:</strong>
  <%= @tipo_evaluacion.descripcion_tipo_evaluacion %>
</p>

<%= link_to 'Edit', edit_tipo_evaluacion_path(@tipo_evaluacion) %> |
<%= link_to 'Back', tipo_evaluacions_path %>
