<%= form_for(objetivo_aprendizaje) do |f| %>
  <% if objetivo_aprendizaje.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(objetivo_aprendizaje.errors.count, "error") %> prohibited this objetivo_aprendizaje from being saved:</h2>

      <ul>
      <% objetivo_aprendizaje.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :objetivo_aprendizaje_id %>
    <%= f.number_field :objetivo_aprendizaje_id %>
  </div>

  <div class="field">
    <%= f.label :descripcion_oa %>
    <%= f.text_area :descripcion_oa %>
  </div>

  <div class="field">
    <%= f.label :topico %>
    <%= f.text_area :topico %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
