<p id="notice"><%= notice %></p>

<h1>Objetivo Aprendizajes</h1>

<table>
  <thead>
    <tr>
      <th>Objetivo aprendizaje</th>
      <th>Descripcion oa</th>
      <th>Topico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @objetivo_aprendizajes.each do |objetivo_aprendizaje| %>
      <tr>
        <td><%= objetivo_aprendizaje.objetivo_aprendizaje_id %></td>
        <td><%= objetivo_aprendizaje.descripcion_oa %></td>
        <td><%= objetivo_aprendizaje.topico %></td>
        <td><%= link_to 'Show', objetivo_aprendizaje %></td>
        <td><%= link_to 'Edit', edit_objetivo_aprendizaje_path(objetivo_aprendizaje) %></td>
        <td><%= link_to 'Destroy', objetivo_aprendizaje, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Objetivo Aprendizaje', new_objetivo_aprendizaje_path %>
