<%= form_for(planificacion) do |f| %>
  <% if planificacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planificacion.errors.count, "error") %> prohibited this planificacion from being saved:</h2>

      <ul>
      <% planificacion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha_inicio %>
    <%= f.date_select :fecha_inicio %>
  </div>

  <div class="field">
    <%= f.label :fecha_termino %>
    <%= f.date_select :fecha_termino %>
  </div>

  <div class="field">
    <%= f.label :cantidad_clases %>
    <%= f.number_field :cantidad_clases %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
