<p id="notice"><%= notice %></p>
    
    <!-- /#wrapper -->

<div class="row">
   <div class="col-lg-12">
      <!-- Example Bar Chart Card-->
      <div class="card mb-3">
         <div class="card-header">
            <i class="fa fa-calendar"></i> Planificaciones
         </div>
         <div class="card-body">
            <div class="row">
               <div class="col-sm-12 my-auto">
<table  class="table">
  <thead>
    <tr>
      <th>Fecha inicio</th>
      <th>Fecha termino</th>
      <th>Cantidad clases</th>
      <th>Programa asociado </th>
      <th colspan="3"> ¿Qué desea realizar?</th>
    </tr>
  </thead>

  <tbody>
    <% @planificacions.each do |planificacion| %>
      <tr>
        <td><%= planificacion.fecha_inicio %></td>
        <td><%= planificacion.fecha_termino %></td>
        <td><%= planificacion.cantidad_clases %></td>
        <td><%= planificacion.programa_id %></td>
        <td><%= link_to 'Ver', planificacion %></td>
        <td><%= link_to 'Editar', edit_planificacion_path(planificacion) %></td>
        <td><%= link_to 'Eliminar', planificacion, method: :delete, data: { confirm: 'Está seguro que desea eliminar la planificación?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
            </div>
         </div>
      </div>
   </div>
</div>
<br>

<%= link_to 'Nueva planificación', new_planificacion_path, :class => "btn btn-primary"%>
