<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha inicio:</strong>
  <%= @planificacion.fecha_inicio %>
</p>

<p>
  <strong>Fecha termino:</strong>
  <%= @planificacion.fecha_termino %>
</p>

<p>
  <strong>Cantidad clases:</strong>
  <%= @planificacion.cantidad_clases %>
</p>

<%= link_to 'Editar', edit_planificacion_path(@planificacion) %> |
<%= link_to 'Volver', planificacions_path %>
