<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<%= form_for(programa) do |f| %>
  <% if programa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(programa.errors.count, "error") %> prohibited this programa from being saved:</h2>

      <ul>
      <% programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :version %>
    <%= f.text_field :version %>
  </div>
  <div class="field">
    <% rdas = Rda.all %>
    <% rdas.each do |rda| %>
        <%= check_box_tag rda.id %> <%= rda.descripcion %>
        <br>
    <%end%>  
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
