<p id="notice"><%= notice %></p>

<h1>Programas</h1>

<table>
  <thead>
    <tr>
      <th>Carrera</th>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Requisitos</th>
      <th>Dicta</th>
      <th>Ano sem vil</th>
      <th>Categora</th>
      <th>Horas presen</th>
      <th>Tel</th>
      <th>Perfil prof</th>
      <th>Version</th>
      <th>Resolucion</th>
      <th>Autor es</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @programas.each do |programa| %>
      <tr>
        <td><%= programa.carrera %></td>
        <td><%= programa.nombre %></td>
        <td><%= programa.codigo %></td>
        <td><%= programa.requisitos %></td>
        <td><%= programa.dicta %></td>
        <td><%= programa.ano_sem_vil %></td>
        <td><%= programa.categora %></td>
        <td><%= programa.horas_presen %></td>
        <td><%= programa.TEL %></td>
        <td><%= programa.perfil_prof %></td>
        <td><%= programa.version %></td>
        <td><%= programa.resolucion %></td>
        <td><%= programa.autor_es %></td>
        <td><%= programa.descripcion %></td>
        <td><%= link_to 'Show', programa %></td>
        <td><%= link_to 'Edit', edit_programa_path(programa) %></td>
        <td><%= link_to 'Destroy', programa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Programa', new_programa_path %>
