<script>
   $('document').ready(function(){

    $('#myModal').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
    })
   });
   function mostrarCaja(){
      console.log("entre a mostrar caja")
      console.log("Entre al if?")
      document.getElementById("descripcionNewRda").style.visibility = 'visible'  
      document.getElementById("labelDescripcionNewRda").style.visibility = 'visible';
      };
</script>


<h1>Agregar programa</h1>
<%= form_for(@programa) do |f| %>
  <% if @programa.errors.any? %>
  <div id="error_explanation">
     <h2><%= pluralize(programa.errors.count, "error") %> prohibited this programa from being saved:</h2>
     <ul>
        <% programa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
     </ul>
  </div>
  <% end %>
  <div class="field">
     <%= f.label :nombre %>
     <%= f.text_field :nombre %>
  </div>
  <div class="field">
     <%= f.label :version %>
     <%= f.text_field :version %>
  </div>
  <div class="field">
     <% rdas = RdaGeneral.all %>
     <% rdas.each do |rda| %>
      <%= check_box_tag rda.id %> <%= rda.descripcion %>
  <br>
  <%end%>  
  </div>
  
  <input type="text" id="descripcionNewRda" name="descripcionNewRda" style="visibility:hidden"/ >
  <br>
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" onclick="mostrarCaja()">
  Crear rda general
  </button>
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModal" >
  Utilizar rda general ya existente
  </button>


  <div class="actions">
     <%= f.submit %>
  </div>
<% end %>
<br>
<%= link_to 'Volver', programas_path, :class => "btn btn-danger" %>
<!-- Modal para crear un Rda -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            ...
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
         </div>
      </div>
   </div>
</div>