  <p id="notice"><%= notice %></p>

<h1> Programa: </h1>


<p>
  <strong>Nombre:</strong>
  <%= @programa.nombre %>
</p>

<p>
  <strong>Version:</strong>
  <%= @programa.version %>
</p>



<%= link_to 'Editar', edit_programa_path(@programa) %> |
<%= link_to 'Volver', programas_path %>
