<p id="notice"><%= notice %></p>

<p>
  <strong>Carrera:</strong>
  <%= @programa.carrera %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @programa.nombre %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @programa.codigo %>
</p>

<p>
  <strong>Requisitos:</strong>
  <%= @programa.requisitos %>
</p>

<p>
  <strong>Dicta:</strong>
  <%= @programa.dicta %>
</p>

<p>
  <strong>Ano sem vil:</strong>
  <%= @programa.ano_sem_vil %>
</p>

<p>
  <strong>Categora:</strong>
  <%= @programa.categora %>
</p>

<p>
  <strong>Horas presen:</strong>
  <%= @programa.horas_presen %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @programa.TEL %>
</p>

<p>
  <strong>Perfil prof:</strong>
  <%= @programa.perfil_prof %>
</p>

<p>
  <strong>Version:</strong>
  <%= @programa.version %>
</p>

<p>
  <strong>Resolucion:</strong>
  <%= @programa.resolucion %>
</p>

<p>
  <strong>Autor es:</strong>
  <%= @programa.autor_es %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @programa.descripcion %>
</p>

<%= link_to 'Edit', edit_programa_path(@programa) %> |
<%= link_to 'Back', programas_path %>
